<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Heroic Features - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="#!">ICE KREAM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Collection</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">진행중인 Lucky Draw</h1>
                        <p class="fs-4" >
                            7월 더블 럭키 드로우 한 번에 두 상품 응모!<br/>
                            응모기간도 수 - 금요일까지!<br/>
                            <br/>
                            ◎ 드로우 일정<br/>
                            매주 수 오후 12시 - 금 오후 12시까지<br/>
                            <br/>
                            ◎ 당첨자 발표<br/>
                            드로우 다음 주 월 오후 6시<br/>
                            (공지 사항 게시 및 당첨자에게 메시지 전송)
                        </p>
                        <a class="btn btn-primary btn-lg" href="#!">응모하기</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    {% if content_list %}
                        {% for content in content_list%}
                             <div class="col-lg-6 col-xxl-4 mb-5">
                                <div class="card bg-light border-0 h-100">
                                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                        <h2 class="fs-4 fw-bold">{{ content.title }}</h2>
                                        <p class="mb-0">{{ content.content }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p> content가 없습니다.</p>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ICE KREAM 2022</p></div>
        </footer>
    </body>
</html>



<!--<html lang="ko">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>my site</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>my site</h1>-->
<!--{% if content_list %}-->
<!--    {% for content in content_list%}-->
<!--        <hr/>-->
<!--        <h3><a href="/mysite/{{ content.id }}">{{ content.title }}</a></h3>-->
<!--        <h3>{{ content.content }}</h3>-->
<!--    {% endfor %}-->
<!--{% else %}-->
<!--    <p> content가 없습니다.</p>-->
<!--{% endif %}-->
<!--</body>-->
<!--</html>-->